In [27]:
import numpy as np
import pandas as pd

In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
df = pd.read_csv('/content/drive/MyDrive/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [31]:
df_limpeza = df

In [32]:
df_limpeza.isnull().any()
# Não apresenta nenhum valor nulo.

gender                         False
race/ethnicity                 False
parental level of education    False
lunch                          False
test preparation course        False
math score                     False
reading score                  False
writing score                  False
dtype: bool

### **Transformar variáveis categóricas em numéricas**

**Transformando gênero**

In [33]:
df_limpeza['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [34]:
df_limpeza['gender'].replace({'female': 0, 'male': 1}, inplace=True)
df_limpeza['gender'].value_counts()

0    518
1    482
Name: gender, dtype: int64

**Transformando raça/etnia**

In [35]:
df_limpeza['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [36]:
df_limpeza['race/ethnicity'].replace({'group A': 0, 'group B': 1, 'group C': 2, 'group D': 3, 'group E': 4}, inplace=True)
df_limpeza['race/ethnicity'].value_counts()

2    319
3    262
1    190
4    140
0     89
Name: race/ethnicity, dtype: int64

**Transformando Nível de Escolaridade dos Pais**

In [37]:
df_limpeza['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [38]:
df_limpeza['parental level of education'].replace({'some college': 0, "associate's degree": 1, 'high school': 2, 'some high school': 3, "bachelor's degree": 4, "master's degree": 5}, inplace=True)
df_limpeza['parental level of education'].value_counts()

0    226
1    222
2    196
3    179
4    118
5     59
Name: parental level of education, dtype: int64

**Transformando Almoço**

In [39]:
df_limpeza['lunch'].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [40]:
df_limpeza['lunch'].replace({'standard': 0, 'free/reduced': 1}, inplace=True)
df_limpeza['lunch'].value_counts()

0    645
1    355
Name: lunch, dtype: int64

**Transformando Curso Preparatório para Testes**

In [41]:
df_limpeza['test preparation course'].value_counts()

none         642
completed    358
Name: test preparation course, dtype: int64

In [42]:
df_limpeza['test preparation course'].replace({'none': 0, 'completed': 1}, inplace=True)
df_limpeza['test preparation course'].value_counts()

0    642
1    358
Name: test preparation course, dtype: int64

**Verificando valores do dataset**

In [43]:
df_limpeza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   int64
 1   race/ethnicity               1000 non-null   int64
 2   parental level of education  1000 non-null   int64
 3   lunch                        1000 non-null   int64
 4   test preparation course      1000 non-null   int64
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(8)
memory usage: 62.6 KB

In [44]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,0,1,4,0,0,72,72,74
1,0,2,0,0,1,69,90,88
2,0,1,5,0,0,90,95,93
3,1,0,1,1,0,47,57,44
4,1,2,0,0,0,76,78,75

**Renomeando as Colunas para melhor visualização**

In [45]:
df_limpeza = df.rename(columns={'gender': 'genero', 'race/ethnicity': 'etnia', 'parental level of education': 'nivel_de_escolaridade_dos_pais', 'lunch': 'almoco', 'test preparation course': 'curso_preparatorio',
                                'math score': 'pontuacao_em_matematica', 'reading score': 'pontuacao_em_leitura', 'writing score': 'pontuacao_em_escrita'})

In [46]:
df_limpeza.head(5)

,genero,etnia,nivel_de_escolaridade_dos_pais,almoco,curso_preparatorio,pontuacao_em_matematica,pontuacao_em_leitura,pontuacao_em_escrita
0,0,1,4,0,0,72,72,74
1,0,2,0,0,1,69,90,88
2,0,1,5,0,0,90,95,93
3,1,0,1,1,0,47,57,44
4,1,2,0,0,0,76,78,75

In [47]:
column_names = ['pontuacao_em_matematica', 'pontuacao_em_leitura', 'pontuacao_em_escrita']
df_limpeza['pontuacao_total']= df_limpeza[column_names].sum(axis=1)/3

In [48]:
df_limpeza.head(5)

,genero,etnia,nivel_de_escolaridade_dos_pais,almoco,curso_preparatorio,pontuacao_em_matematica,pontuacao_em_leitura,pontuacao_em_escrita,pontuacao_total
0,0,1,4,0,0,72,72,74,72.666667
1,0,2,0,0,1,69,90,88,82.333333
2,0,1,5,0,0,90,95,93,92.666667
3,1,0,1,1,0,47,57,44,49.333333
4,1,2,0,0,0,76,78,75,76.333333

In [49]:
df_limpeza['pontuacao_total'] = df_limpeza['pontuacao_total'].astype(int)

In [50]:
df_limpeza.head(5)

,genero,etnia,nivel_de_escolaridade_dos_pais,almoco,curso_preparatorio,pontuacao_em_matematica,pontuacao_em_leitura,pontuacao_em_escrita,pontuacao_total
0,0,1,4,0,0,72,72,74,72
1,0,2,0,0,1,69,90,88,82
2,0,1,5,0,0,90,95,93,92
3,1,0,1,1,0,47,57,44,49
4,1,2,0,0,0,76,78,75,76

In [51]:
df_limpeza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   genero                          1000 non-null   int64
 1   etnia                           1000 non-null   int64
 2   nivel_de_escolaridade_dos_pais  1000 non-null   int64
 3   almoco                          1000 non-null   int64
 4   curso_preparatorio              1000 non-null   int64
 5   pontuacao_em_matematica         1000 non-null   int64
 6   pontuacao_em_leitura            1000 non-null   int64
 7   pontuacao_em_escrita            1000 non-null   int64
 8   pontuacao_total                 1000 non-null   int64
dtypes: int64(9)
memory usage: 70.4 KB

In [52]:
# Salvando o dataframe
df_limpeza.to_csv('/content/drive/MyDrive/studentsperformance-limpo.csv', index=False)